.env
jira_tickets.csv
findings.txt
exercise.ipynb
.vscode
node_modules
testAws.js
__pycache__/*
assistants/__pycache__/*
helpers/__pycache__/*
findings/*
outputs/__pycache__/*
core/__pycache__/*
.venv/
venv/
*.pyc
temp/
venv
log.json
config.json
opsbox.egg-info/*
uv.lock